<% content_for :page_title, @post.title %>
<section class="section">
  <div class="container">
    <nav class="level">
      
      <div class="level-left">
        <p class="level-item">
          <strong>Actions</strong>
        </p>
      </div>

      <div class="level-right">
        <p class="level-item">
          <%= link_to "Edit", edit_post_path(@post), class: "button" %>
        </p>
        <p class="level-item">
        <%= form_for @post, html: { method: :delete, class: 'delete-post-form' } do |f| %>
          <%= f.submit 'Delete', class: 'delete-button', data: { confirm: 'Are you sure you want to delete this post?' }, class: "button is-danger" %>
        <% end %>

        </p>
      </div>
    </nav>
    <hr />

    <div class="content">
      <%= @post.content %>
    </div>
  </div>
</section>


